@page "/weather"
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<input class="form-control" @oninput = "Input" />


<p>Warm days counter: @warmDays</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="FilterWarmDays">Show Warm Days</button>
<button class="btn btn-primary" @onclick="Restore">Restore Data</button>

@code {
    private WeatherForecast[]? forecasts;
    private WeatherForecast[]? originalForecasts;
    private int warmDays;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 10).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();

        warmDays = forecasts.Count(f => f.TemperatureC > 15);
        originalForecasts = forecasts;
    }

    private void FilterWarmDays()
    {
        forecasts = originalForecasts?.Where(f => f.TemperatureC > 15).ToArray();
    }

    private void Restore()
    {
        forecasts = originalForecasts;
    }

    private void Input(ChangeEventArgs arg)
    {
        var search = arg.Value?.ToString();

        if (string.IsNullOrWhiteSpace(search))
            forecasts = originalForecasts;

        forecasts = originalForecasts?.Where(f => f.Summary.Contains(search, StringComparison.OrdinalIgnoreCase)).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
